# Virtual environment
venv/
.venv/
env/
ENV/

# Database
*.db
*.db-journal
*-journal
*.sqlite3

# Configuration / Credentials
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs
.idea/
.vscode/
